/* .select-wrapper input.select-dropdown {
    border-bottom: 1px solid var(--purple1);
    color: var(--black);
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid var(--purple2);
} */

.fixed-action-btn .btn-floating.btn-large {
    background-color: var(--purple1);
}

.fixed-action-btn ul li a.btn-floating {
    background-color: var(--purple2);
}

.input-field {
    margin-top: 0;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: var(--purple1);
    font-weight: 600;
}

/* input[type="text"]:not(.browser-default) {
    border-bottom: 1px solid var(--purple1);
    box-shadow: none;
    color: var(--black);
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--purple2);
    box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly])+label {
    color: var(--black);
} */

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    .select-wrapper input.select-dropdown {
        color: var(--white);
    }

    .dropdown-content {
        background-color: var(--black);
    }

    .select-dropdown li.disabled,
    .select-dropdown li.disabled>span,
    .select-dropdown li.optgroup {
        color: var(--white);
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: var(--purple1);
        transition: background-color .1s ease;
    }

    .dropdown-content li>a,
    .dropdown-content li>span:hover {
        background-color: #111;
    }

    input[type="text"]:not(.browser-default),
    input[type="text"]:not(.browser-default):focus:not([readonly])+label {
        color: var(--white);
    }
} */


/* @media (prefers-color-scheme: light) {
    body {
        background-color: var(--white);
    }

    .select-wrapper input.select-dropdown {
        color: var(--black);
    }

    .dropdown-content {
        background-color: var(--white);
    }

    .select-dropdown li.disabled,
    .select-dropdown li.disabled>span,
    .select-dropdown li.optgroup {
        color: var(--black);
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: var(--purple1);
        transition: background-color .1s ease;
    }

    .dropdown-content li>a,
    .dropdown-content li>span:hover {
        background-color: #111;
    }

    .dropdown-content li>a,
    .dropdown-content li>span {
        color: var(--black);
    }
} */